
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="myApp/style/style.css">
<body>
<br></br>

<div class="container">
    <h2 class="heading">Contact us</h2>
    <h2 style="text-align: center;"> We'd Love to Help!</h2>
    <p style="text-align: center;"> We like to create things with fun, open-mind people. Feel free to say hello!</p>
<br></br>
<div class="row">
<div class="col-md-6">
    <form>
        <input type="Text" name="text" required="" placeholder="Your Name" class="form-control">
        <br>
        <input type="Email" name="email" required="" placeholder="Your Email" class="form-control">
        <br>
        <textarea rows="6" placeholder="Message" required="" class="form-control"></textarea>
        <br>
        <center>
            <button class="btn btn-info">Submit</button>
        </center>
        <br><br><br><br>
    </form>
</div>

<div class="col-md-1"></div>


<div class="col-md-5">
    <br>
    <p class="icn"><i class=" fa fa-map-marker"></i> &nbsp;&nbsp; 25D, Buna Ziua Street, Cluj-Napoca, Cluj, Romania</p>
    <p class="icn"><i class=" fa fa-phone"></i> &nbsp;&nbsp; +40 754673058</p>
    <p class="icn"><i class=" fa fa-envelope"></i> &nbsp;&nbsp; ov@medicalequipment.ro</p>

    <hr>

<div id="iconList" class="media">
    <ul class="list-unstyled">
        <li id="iconList"><a id="iconList" href="#"><i class="fab fa-facebook-f"></a></i></li>
        <li id="iconList"><a id="iconList"href="#"><i class="fab fa-twitter"></i></a></li>
        <li id="iconList"><a id="iconList" href="#"><i class="fab fa-instagram"></i></a></li>
        <li id="iconList"><a id="iconList"href="#"><i class="fab fa-google-plus-g"></i></a></li>
        <li id="iconList"><a id="iconList"href="#"><i class="fab fa-youtube"></i></a></li>
    </ul>
</div>


</div>
</div>
</div>
</div>
</body>


