<div class="mt-2">
<h1 class="fs-3 ms-3">OV MEDICAL EQUIPMENT</h1>
</div>

<p class = ms-3>
    The OV Medical Equipment company was established in 2022 as a
    necessity following the changes in the field of health policy in
    Romania, succeeding through promptness and professionalism to
    win a constant and numerous clientele. The quality of the
    medical services offered, as well as the financial performance
    of our clients from the public and private sectors, depend on
    the provision of high quality services from us, both in the
    period preceding the purchase, as well as during the
    installation, warranty and post-warranty periods.
</p>

<p class = ms-3>
    OV Medical Equipment is the exclusive partner on the Romanian
    market of several companies producing medical equipment from
    Europe, Asia and North America and is constantly looking for new
    valuable partners. The commercial department is constantly
    developing to be able to satisfy all the demands of our
    customers. Along with the commercial side, the service activity
    was and is an emblematic activity, being given special
    attention.
</p>

<p class = ms-3>
    Since we are a dynamic company of integrated services, we offer
    you our experience in the field to find together the solution to
    all your problems.
</p>
<p class = ms-3>
    Our goal is to improve the quality of life by offering viable
    and efficient solutions.
</p>

       <!-- CARDS -->
       <div class="bg-dark text-white">
        <h3 class="BSP text-center fw-semibold fs-5 mt-5"> Best Selling Products</h3>
      </div>
      <div class="d-flex justify-content-around mt-4">
        <div class="card text-center fw-semibold" style="width: 15rem">
          <img src="myApp/img/img1.jpg" class="card-img-top" alt="M300 INFUSION PUMP" />
          <div class="card-body">
            <a class="card-text link-dark" href="products">M300 INFUSION PUMP</a>
          </div>
        </div>
        <div class="card text-center fw-semibold" style="width: 15rem">
          <img
            src="myApp/img/img2.jpg"
            class="card-img-top"
            alt="ME600 INFUSION PUMP"
          />
          <div class="card-body">
            <a class="card-text link-dark" href="products">ME600 INFUSION PUMP</a>
          </div>
        </div>
        <div class="card text-center fw-semibold" style="width: 15rem">
          <img
            src="myApp/img/img3.jpg"
            class="card-img-top"
            alt="VIDEO LARYNGOSCOPE FOR DIFFICULT INTUBATION"
          />
          <div class="card-body">
            <a class="card-text link-dark" href="products">BD-DF Reusable Video Laryngoscope</a>
          </div>
        </div>
        <div class="card text-center fw-semibold" style="width: 15rem">
          <img
            src="myApp/IMG/img4.jpg"
            class="card-img-top"
            alt="PATIENT VENTILATOR NV6"
          />
          <div class="card-body">
            <a class="card-text link-dark" href="products">PATIENT VENTILATOR NV6</a>
          </div>
        </div>
        <div class="card text-center fw-semibold" style="width: 15rem">
          <img
            src="myApp/IMG/img5.jpg"
            class="card-img-top"
            alt="PATIENT MONITOR C30"
          />
          <div class="card-body">
            <a class="card-text link-dark" href="products">PATIENT MONITOR C30</a>
          </div>
        </div>
      </div>
  
    